@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('./logo2.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.contenedor{
height: 100%;

/*align-content: center;**/
}

.card{
height: 570px;
margin-top: auto;
margin-bottom: auto;
width: 500px;
background-color: rgba(126, 148, 129, 0.5) !important;
}


.card-header h2{
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #c7e6d3;
color: black;
border:0 !important;
}


.login_btn{
margin-top: 100px;
color: rgb(0, 0, 0);
background-color: #c7e6d3;
width: 150px;
align-content:center;
}

